---
layout: default
title: Log
permalink: /log/
---
<div class="post">
    {% for post in site.log reversed %}
    {% assign currentDate = post.date | date: "%Y" %}
    {% if post.title != page.title %}
    {% if currentDate != myDate %}
    {% unless forloop.first %}
    {% endunless %}
    <h2>{{ currentDate }}</h2>
    {% assign myDate = currentDate %}
    {% endif %}
    <ul>
        <li>
            <span>{{ post.date | date: "%m-%d" }}</span> · <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    </ul>
    {% if forloop.last %}
    {% endif %}
    {% endif %}
    {% endfor %}
</div>