<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    <h3 class="catalogue-category">{{ post.categories }}</h3>
    <h1 class="catalogue-title">{{ post.title }}</h1>
    {% if post.subtitle %}
    <span class="catalogue-subtitle">{{ post.subtitle }} · </span>
    {% endif %}
    <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y년 %m월 %d일" }}</time>
    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30  }}
      {% endif %}
    </p>
  </div>
</a>
