<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="BHx56ioY5NM_mqKgwinDWGi4RQizKJy-sfs5OLeYPV0" />

    <!-- Tabler -->
    <script src="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/css/tabler.min.css">

    <!-- github style -->
    <link rel="stylesheet" href="/assets/css/syntax.css">
</head>