---
layout: default
---

<div class="post markdown-body">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info">
    <p>
    {% if page.subtitle %}
      {{ page.subtitle }} · 
    {% endif %}
    {% if page.date %}
    <time datetime="{{ page.date }}">{{ page.date | date: "%Y년 %m월 %d일" }}</time>
    {% endif %}
    </p>
  </div>

  {{ content }}
</div>

<div class="support-button">
  <a href="https://www.buymeacoffee.com/jwonylee" title="Buy me a Book" class="buymea-button" target="_blank"><span>📚 Buy me a Book</span></a>
</div>


<div class="tags-clouds">
{% for tag in page.tags %}
  <a href="{{ '/tags' | prepend: site.baseurl }}#{{ tag }}" role="button">{{ tag }}</a>
  {% endfor %}
{% include comments.html %}
</div>

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}
</div>